body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f6f348;
    color: #333;
    margin: 0;
    padding: 20px;
}

section {
    border-width: 1.5rem;
    border-radius: 50px;
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #1a73e8;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5em;
}

code {
    padding: 4px 8px;
    border-radius: 4px;
    font-family: monospace;
}

pre {
    background-color: #272822;
    color: white;
    padding: 10px;
    border-radius: 6px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #1a73e8;
    color: white;
}

ul {
    margin-left: 20px;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9em;
    color: #555;
}

.oculto {
  display: none;
}

button {
  background-color: #1a73e8;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-bottom: 20px;
}

button:hover {
  background-color: #1665c1;
  transform: scale(1.03);
}

button:active {
  transform: scale(0.98);
}
